<div class="container">
    <div class="row">
        <div class="col-3">
            {{product.name}}
            {{product.descprition}}
            {{product.price}}
            <img [src]="product.image" [alt]="product.image">
        </div>
        <div class="col-3">
            {{product.name}}
            {{product.descprition}}
            {{product.price}}
            <img [src]="product.image" [alt]="product.image">
        </div>
        <div class="col-3">
            {{product.name}}
            {{product.descprition}}
            {{product.price}}
            <img [src]="product.image" [alt]="product.image">
        </div>
        <div class="col-3">
            {{product.name}}
            {{product.descprition}}
            {{product.price}}
            <img [src]="product.image" [alt]="product.image">
        </div>
    </div>
</div>


