<div class="container" *ngFor="let product of wished$ | async">
    <div class="row">
        <div class="col-sm-9">
            <div class="list-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <img class="img-thumbnail" width="90" [src]=product.image> 
                        <p class="card-number">ARS${{product.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn" (click)="addToCart(product)">
                <img src="assets/icons/cart-outline.jpg" alt="heart" width="30">
            </button>
            <button class="btn" (click)="removeOfWishList(product)">
                <img src="assets/icons/trash-outline.jpg" alt="heart" width="30">
            </button> 
        </div>
    </div>
</div>

